.jumbotron {
    background-color: #08743e;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.link {
    color: white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #08743e;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex: 1 400px;
    padding: 5px 10px 5px 10px;
}


.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    color: white;
    padding-right: 7px;
}

.precios {
    background-color: whitesmoke;
}

.table {
    text-align: center;
}

.star {
    color: #000000;
}

.card-text{
    margin-top: 15px;
}

.medio-pago {
    background-color: #292b2c;
    color: white;
}

.tarjetas {
    width: 18rem;
}

.list-group-item {
    background-color: whitesmoke;
}

.card-img-top {
    margin-top: 10px;
}

.img-fluid {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.badge:hover {
    background-color: teal;
}

.badge {
    float: right;
}

.progress {
    margin-bottom: 15px;
    background-color:#555858;
}

.tab-content {
    margin-top: 15px;
}

.text-collapse {
    text-align: justify;
}