.jumbotron {
  background-color: #908D50;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

.link {
  color: #FFFFFF; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #908D50;
  margin-top: 20;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 400px;
  padding: 5px 10px 5px 10px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  color: #FFFFFF;
  padding-right: 7px; }

.precios {
  background-color: #F5F5F5; }

.table {
  text-align: center; }

.star {
  color: #000000; }

.card-text {
  margin-top: 15px; }

.tarjetas {
  width: 18rem; }

.list-group-item {
  background-color: #F5F5F5; }

.card-img-top {
  margin-top: 10px; }

.img-fluid {
  display: block;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px; }

.badge:hover {
  background-color: #008080; }

.badge {
  float: right; }

.progress {
  margin-bottom: 15px;
  background-color: #555858; }

.tab-content {
  margin-top: 15px; }

.text-collapse {
  text-align: justify; }
