@yellow: #908D50;
@black: #000000;
@teal: #008080;
@bootstrap_dark: #555858;
@white_smoke: #F5F5F5;
@white: #FFFFFF;

.margin (@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: @black;
    text-align: center;
    .margin(50px, 0px);
}

.link {
    color: @white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margin(20, 0);
}

.card-hotel {
    flex: 1 400px;
    padding: 5px 10px 5px 10px;
}


.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    color: @white;
    padding-right: 7px;
}

.precios {
    background-color: @white_smoke;
}

.table {
    text-align: center;
}

.star {
    color: @black;
}

.card-text{
    margin-top: 15px;
}

.tarjetas {
    width: 18rem;
}

.list-group-item {
    background-color: @white_smoke;
}

.card-img-top {
    margin-top: 10px;
}

.img-fluid {
    display: block;
    margin: auto;
    .margin(0px, 20px)
}

.badge:hover {
    background-color: @teal;
}

.badge {
    float: right;
}

.progress {
    margin-bottom: 15px;
    background-color: @bootstrap_dark;
}

.tab-content {
    margin-top: 15px;
}

.text-collapse {
    text-align: justify;
}